html,
body {
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerMenu {
  background-color: #fff;
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.headerMenu ul li:not(.logo) {
  padding: 15px;
}

.headerMenu ul li:not(.logo) a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}

.headerMenu .logo {
  max-width: 140px;
  max-height: 70px;
}

.welcome {
  text-align: center;
  margin-top: 60px;
}

.welcome h2 {
  font-size: 45px;
  text-transform: uppercase;
  color: #81B3D2;
  font-weight: 900;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.welcome h3 {
  font-size: 28px;
  font-family: "Parisienne", cursive;
  margin: 0;
  color: #766357;
  position: relative;
  z-index: 2;
  top: 13px;
}

.welcome h3:after, .welcome h3:before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 29px;
  background-color: #766357;
  margin-left: 12px;
  margin-bottom: 5px;
}

.welcome h3:before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 29px;
  background-color: #766357;
  margin-left: 12px;
  margin-right: 12px;
}

.title {
  background: url(../img/background.jpg);
  position: relative;
  overflow: hidden;
}

.title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-bottom: 70px solid #fff;
  border-right: 50vw solid transparent;
}

.title:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 70px solid #fff;
  border-left: 50vw solid transparent;
}

.title h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 67px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 68px;
  text-align: center;
  margin: 0;
}

.title h2 {
  font-size: 40px;
  font-family: "Parisienne", cursive;
  color: #fff;
  text-align: center;
  font-weight: normal;
  padding: 72px 0 25px;
  margin: 0;
}

.discription {
  text-align: center;
}

.discription h2 {
  max-width: 510px;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 27px;
}

.discription h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 45px 0 50px;
  text-transform: uppercase;
  color: #333333;
}

.discription2,
.discription3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 258px;
  overflow: hidden;
}

.discription2 .discription2-left,
.discription2 .discription3-right,
.discription3 .discription2-left,
.discription3 .discription3-right {
  max-width: 400px;
  max-height: 260px;
  background-color: #81B3D2;
  color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.discription2 .discription2-left h2,
.discription2 .discription3-right h2,
.discription3 .discription2-left h2,
.discription3 .discription3-right h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  width: 47px;
  width: 140px;
}

.discription2 .discription2-left h3,
.discription2 .discription3-right h3,
.discription3 .discription2-left h3,
.discription3 .discription3-right h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 40px 47px;
}

.discription2 p,
.discription3 p {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 23px;
}

.discription2-right img,
.discription3-left img {
  max-width: 100%;
  height: 260px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.icon .present h2 {
  padding-top: 18px;
}

.icon h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: #000;
  padding: 25px 0;
  margin: 0;
}

.icon p {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  padding: 0 40px 80px;
}

.discription3-left {
  background: url(../img/bridge.jpg) no-repeat;
  background-repeat: round;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}

.discription4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discription4-left {
  width: 34%;
  background-color: #EEEEEE;
  color: #000;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.discription4-left h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #000;
  width: 47px;
  width: 140px;
}

.discription4-left h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0 40px 47px;
}

.discription4-left p {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 23px;
}

.discription5 h2 {
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.discription5 h3 {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 45px;
}

.mapGoogle {
  width: 100%;
  height: 476px;
}

.search {
  font-size: 21px;
  color: #fff;
  background-color: #766357;
  padding: 30px 130px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  outline: none;
}

.noactive {
  display: none;
}

.active {
  display: block;
  max-width: 552px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.active .searchBtn {
  font-size: 21px;
  color: #fff;
  background-color: #766357;
  padding: 30px 130px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
}

.active .searchInformation {
  position: absolute;
  padding: 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.active .searchInformation label {
  text-align: start;
  width: 110px;
  font-size: 14px;
}

.active .searchInformation .date1,
.active .searchInformation .date2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 458px;
  margin-bottom: 30px;
}

.active .searchInformation .date1 input,
.active .searchInformation .date2 input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #EEEEEE;
  border: none;
  height: 38px;
}

.active .searchInformation input[type="number"]::-webkit-outer-spin-button,
.active .searchInformation input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0 auto;
}

.active .searchInformation .date1 {
  margin-top: 55px;
}

.active .searchInformation .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active .person input,
.active .person button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #EEEEEE;
  font-size: 25px;
  color: #333333;
  border: none;
}

.active .person label {
  width: 110px;
  font-size: 14px;
}

.active .person .leftBtn {
  margin-right: 40px;
}

.active .searchBtn {
  background-color: #81B3D2;
  margin: 55px 0;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 970px;
}

.foot .phone {
  margin: 23px 0 35px 0;
  font-size: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.foot .phone h2 {
  font-size: 21px;
}

.foot .iconBottom {
  margin: 0;
  padding: 36px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.foot .twitter,
.foot .facebook,
.foot .tube {
  background-color: #81B3D2;
  width: 46px;
  height: 48px;
  margin-right: 5px;
}

.foot .twitter .fab,
.foot .facebook .fab,
.foot .tube .fab {
  padding: 13px 10px;
  color: #fff;
  font-size: 22px;
}

.foot .website {
  margin: 23px 0;
}

@media (max-width: 800px) {
  .headerMenu {
    padding: 0;
  }
  .headerMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .headerMenu ul li:not(.logo) {
    padding: 10px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#81B3D2));
    background: linear-gradient(to bottom, #fff, #81B3D2);
    width: 100%;
    text-align: center;
  }
  .headerMenu ul li:not(.logo) a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: #fff;
    widows: 100%;
  }
  .headerMenu .logo {
    max-width: 140px;
    max-height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discription2,
  .discription3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
  .discription2 .discription2-left,
  .discription2 .discription3-right,
  .discription3 .discription2-left,
  .discription3 .discription3-right {
    max-width: 100%;
  }
  .discription3-right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .discription4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discription4-left {
    width: 100%;
  }
  .twitter,
  .facebook,
  .tube {
    margin-bottom: 5px;
  }
  .twitter .fab,
  .facebook .fab,
  .tube .fab {
    padding: 13px 10px;
    color: #fff;
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */