html,
body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Parisienne', cursive;
}

$sans: 'PT Sans',
sans-serif;
$Parisienne: 'Parisienne',
cursive;
$blue:#81B3D2;
$white: #fff;
$grey:#EEEEEE;
$lightGrey:#F2F2F2;
$brown: #766357;
$black: #000;

// header,
// section,
// footer {
//     max-width: 1200px;
//     margin: 0 auto;
// }

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        cursor: pointer;
    }
}