@import "_general.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

.headerMenu {
    background-color: $white;
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        li:not(.logo) {
            padding: 15px;

            a {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                font-family: $sans;
                ;
            }
        }
    }

    .logo {
        max-width: 140px;
        max-height: 70px;
    }
}

.welcome {
    text-align: center;
    margin-top: 60px;

    h2 {
        font-size: 45px;
        text-transform: uppercase;
        color: $blue;
        font-weight: 900;
        margin: 0;
        font-family: $sans;
    }

    h3 {
        font-size: 28px;
        font-family: $Parisienne;
        margin: 0;
        color: $brown;
        position: relative;
        z-index: 2;
        top: 13px;

        &:after,
        &:before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 29px;
            background-color: $brown;
            margin-left: 12px;
            margin-bottom: 5px;

        }

        &:before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 29px;
            background-color: $brown;
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.title {
    background: url(../img/background.jpg);
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        border-bottom: 70px solid $white;
        border-right: 50vw solid transparent;
    }

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 70px solid $white;
        border-left: 50vw solid transparent;
    }

    h1 {
        font-family: $sans;
        font-size: 67px;
        color: $white;
        text-transform: uppercase;
        padding-top: 68px;
        text-align: center;
        margin: 0;
    }

    h2 {
        font-size: 40px;
        font-family: $Parisienne;
        color: $white;
        text-align: center;
        font-weight: normal;
        padding: 72px 0 25px;
        margin: 0;
    }
}

.discription {
    text-align: center;

    h2 {
        max-width: 510px;
        font-family: $sans;
        font-size: 21px;
        line-height: 26px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 27px;
    }

    h3 {
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        margin: 45px 0 50px;
        text-transform: uppercase;
        color: #333333;
    }
}

.discription2,
.discription3 {
    display: flex;
    max-height: 258px;
    overflow: hidden;

    .discription2-left,
    .discription3-right {
        max-width: 400px;
        max-height: 260px;
        background-color: $blue;
        color: $white;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            font-family: $sans;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 21px;
            margin: 0 auto;
            margin-top: 47px;
            margin-bottom: 25px;
            text-transform: uppercase;
            color: $white;
            width: 47px;
            width: 140px;
        }


        h3 {
            font-family: $sans;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            margin: 0 40px 47px;
        }
    }

    p {
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: $white;
        margin-bottom: 23px;

    }
}



.discription2-right img,
.discription3-left img {
    max-width: 100%;
    height: 260px;
}

.icon {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;

    .present h2 {
        padding-top: 18px;
    }


    h2 {
        font-family: $sans;
        font-size: 21px;
        text-transform: uppercase;
        color: $black;
        padding: 25px 0;
        margin: 0;
    }

    p {
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        color: $black;
        padding: 0 40px 80px;

    }
}



.discription3-left {
    background: url(../img/bridge.jpg ) no-repeat;
    background-repeat: round;
    flex-grow: 1;
    padding: 0;
}

.discription4 {
    display: flex;
}

.discription4-left {
    width: 34%;
    background-color: $grey;
    color: $black;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
        font-family: $sans;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 21px;
        margin: 0 auto;
        margin-top: 47px;
        margin-bottom: 25px;
        text-transform: uppercase;
        color: $black;
        width: 47px;
        width: 140px;
    }

    h3 {
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        margin: 0 40px 47px;
    }

    p {
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: $black;
        margin-bottom: 23px;
    }
}




.discription5 {
    h2 {
        font-size: 30px;
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    h3 {
        margin: 0 auto;
        font-family: $sans;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: $darkGrey;
        padding-bottom: 45px;
    }
}

.mapGoogle {
    width: 100%;
    height: 476px;
}

.search {
    font-size: 21px;
    color: $white;
    background-color: $brown;
    padding: 30px 130px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    margin: 0 auto;
    outline: none;
}

.noactive {
    display: none;
}

.active {
    display: block;
    max-width: 552px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: $sans;
    font-weight: bold;

    .searchBtn {
        font-size: 21px;
        color: $white;
        background-color: $brown;
        padding: 30px 130px;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .searchInformation {
        position: absolute;
        // z-index: -2;
        padding: 0 68px;
        display: flex;
        flex-direction: column;
        background: $white;
        // display: none;

        label {
            text-align: start;
            width: 110px;
            font-size: 14px;
        }

        .date1,
        .date2 {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            max-width: 458px;
            margin-bottom: 30px;


            input {
                flex-grow: 1;
                background-color: $grey;
                border: none;
                height: 38px;
            }
        }



        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0 auto;
        }

        .date1 {
            margin-top: 55px;
        }

        .date {
            display: flex;
            flex-direction: column;
        }
    }

    .person {
        display: flex;

        input,
        button {
            width: 40px;
            height: 40px;
            border: none;
            background-color: $grey;
            font-size: 25px;
            color: $darkGrey;
            border: none;

        }

        label {
            // text-align: start;
            width: 110px;
            font-size: 14px;
        }


        .leftBtn {
            margin-right: 40px;
        }
    }

    .searchBtn {
        background-color: $blue;
        margin: 55px 0;
    }

}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 970px;

    .phone {
        margin: 23px 0 35px 0;
        font-size: 21px;
        font-family: $sans;
        font-weight: 600;
        text-transform: uppercase;

        h2 {
            font-size: 21px;
        }
    }

    .iconBottom {
        margin: 0;
        padding: 36px 0;
        display: inline-flex;
    }

    .twitter,
    .facebook,
    .tube {
        background-color: $blue;
        width: 46px;
        height: 48px;
        margin-right: 5px;

        .fab {
            padding: 13px 10px;
            color: $white;
            font-size: 22px;
        }
    }

    .arrowUp {
        margin: 23px 0;
        font-size: 40px;
        border: none;
        background-color: $white;

        .fas {
            color: $brown;
        }
    }
}


@media(max-width: 800px) {

    .headerMenu {
        padding: 0;

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;


            li:not(.logo) {
                padding: 10px 0;
                order: 2;
                background: linear-gradient(to bottom, $white, $blue);
                width: 100%;
                text-align: center;

                a {
                    display: block;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: $sans;
                    color: $white;
                    widows: 100%;
                }
            }
        }

        .logo {
            max-width: 140px;
            max-height: 70px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

}

@media (max-width:650px) {
    .icon {
        flex-direction: column;
    }

    .discription2,
    .discription3 {
        flex-direction: column;
        max-height: 100%;

        .discription2-left,
        .discription3-right {
            max-width: 100%;

        }
    }

    .discription3-right {
        order: -1;
    }

    .discription4 {
        flex-direction: column;
    }

    .discription4-left {
        width: 100%;
    }

    .twitter,
    .facebook,
    .tube {
        margin-bottom: 5px;

        .fab {
            padding: 13px 10px;
            color: $white;
            font-size: 22px;
        }
    }
}

@media(max-width:580px) {
    // .search {
    //     margin: 0 auto;
    // }

    form {

        .searchBtn {
            // padding: 20px 130px;
        }

        .searchInformation {
            max-width: 100%;
            // border: 1px solid red;
            // // padding: 0 69px;
            // margin: 0 auto;

            .person {
                flex-direction: column;

                input,
                button {
                    margin-bottom: 30px;
                }

                .person1,
                .person2 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;

                }

            }
        }
    }
}

@media(max-width:480px) {

    .search {
        padding: 20px 62px;
    }

}